html{
    display: block;
    position: relative;
}

.container{
    display: block;
    padding-top: 20px;
    margin-left: 50px;
}

.date {
    display:flex;
    flex-direction: left;
    flex-wrap: 1;
    
}
#days, #minutes, #hours, #seconds {
    position: relative;
    border: 0.5px solid black;
    font-size: medium;
    margin: 20px;
    padding: 5px;

}